<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside th:fragment="side-menu" class="sidebar bg-white border-r border-gray-200">
    <div class="h-full px-3 pb-4 overflow-y-auto">
        <ul class="space-y-2 font-medium">
            <li th:replace="~{fragments/menu-item :: menu-item('Add Task', '/add', '/svg/add.svg', 'add')}"></li>
            <li th:replace="~{fragments/menu-item :: menu-item('My Tasks', '/tasks', '/svg/tasks.svg', 'tasks')}"></li>
            <li th:replace="~{fragments/menu-item :: menu-item('Important', '/important', '/svg/important.svg', 'important')}"></li>
            <li th:replace="~{fragments/menu-item :: menu-item('Search', '/search', '/svg/search.svg', 'search')}"></li>
        </ul>
    </div>
</aside>
</body>
</html>
